// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
//google font
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

//colors
$grain: #D7CEC7;
$blackboard: #565656;
$oxblood: #76323F;
$tan: #C09F80;

body {
  font-family: 'Comfortaa', cursive;
  color: $blackboard;
  background-color: ivory;
}

header {


  .navbar {

    color: $blackboard;
    background-color: $grain;

    a {
      color: $oxblood;
    }

    a:hover {
      color: $blackboard;
    }
  }
}

footer {
  color: $blackboard;
  background-color: $tan;
  height: 20px;
}
